@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.bx {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

body {
  background-image: linear-gradient(to bottom, #FFD1C7 25%, #FFE3C6 50%, #FFF7C7 75%, #D4F6D6 100%);
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: #f38b6538;
  backdrop-filter: blur(8px);
  width: 230px;
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all .55s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.close {
  width: 60px;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: #f38b65;
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
  position: relative;
}

.sidebar .logo::before {
  content: none;
}

.sidebar .logo .logo-name span {
  color: #363949;
}

.sidebar .logo .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 20px;
}

.sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

.sidebar .side-menu li.active {
  background: #eee;
  position: relative;
}

.sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: #f38b6538;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  overflow-x: hidden;
  transition: all .55s ease;
}

.sidebar .side-menu li.active a {
  color: #388E3C;
}

.sidebar.close .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: all .55s ease;
}

.sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
}

.sidebar .side-menu li a:hover {
  background-image: linear-gradient(-45deg, #FFD1C7 25%, #FFE3C6 50%, #FFF7C7 75%, #D4F6D6 100%);
  color: #f38b65;
  transform: translateY(-2px);
}

.content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all .55s ease;
}

.sidebar.close~.content {
  width: calc(100% - 60px);
  left: 60px;
}

.content nav {
  height: 56px;
  background: #f38b6538;
  backdrop-filter: blur(8px);
  padding: 0 24px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 24px;
  top: 0;
  left: 0;
  z-index: 1000;
}

.content nav .logout,
.content nav .profile {
  /* Adjust margins or padding as needed */
  margin-left: 10px;
}

.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 0 #f38b6538;
  backdrop-filter: blur(8px);
  transition: all .55s ease;
}

.content nav a {
  color: #363949;
}

.content nav .iconM .bx.bx-menu {
  cursor: pointer;
  color: #ffffff;
  transition: all .55s ease;
}

.content nav .iconM .bx.bx-menu:hover {
  transform: rotate(45deg);
}

.content nav .iconL a.logout i {
  position: relative;
  justify-content: right;
  color: #D32F2F;
  transition: all .55s ease;
}

.content nav .iconL a.logout i:hover {
  transform: translateY(-2px);
}

.content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
  transition: all .55s ease;
}

.content nav .profile img:hover {
  transform: translateY(-2px);
}

.content main {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
}

.content main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.content main .header .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.create-cv {
  color: #ffffff;
  background: #f38b6557;
  border: none;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all .55s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.create-cv:hover {
  background-image: linear-gradient(-45deg, #FFD1C7 25%, #FFE3C6 50%, #FFF7C7 75%, #D4F6D6 100%);
  transform: translateY(2px);
  color: #f38b65;
}

/* CV Modal */
#cv-modal-container {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 600px;
  height: auto;
  max-height: 80%;
  overflow: auto;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.55s ease, visibility 0.55s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

body.open-cv-modal #cv-modal-container {
  opacity: 1;
  visibility: visible;
}

.cv-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cv-modal-close {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  transition: all .55s ease;
}

.cv-modal-close:hover {
  transform: translateY(-4px);
}

.cv-modal-title {
  flex-grow: 1;
}

.cv-modal-content {
  background-image: linear-gradient(-45deg, #FFD1C7 25%, #FFE3C6 50%, #FFF7C7 75%, #D4F6D6 100%);
  backdrop-filter: blur(8px);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.55s ease, transform 0.55s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cv-modal-title h1 {
  font-size: 24px;
  color: #fff;
  text-align: left;
  margin: 0;
}

.cv-modal-content fieldset {
  margin-bottom: 20px;
  border: none;
}

.cv-modal-content legend {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
}

.cv-modal-content label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #f0eded;
}

.cv-modal-content input,
.cv-modal-content textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 16px;
  background-color: transparent;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: all .55s ease;
}

.cv-modal-content input:hover,
.cv-modal-content textarea:hover {
  border: 2px solid #f38b65;
  transform: translateY(-4px);
}

.cv-modal-content button[type="submit"] {
  cursor: pointer;
  width: 100%;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  line-height: 1.4;
  background: #f38b65;
  border: none !important;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  transition: all .55s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cv-modal-content button[type="submit"]:hover {
  transform: translateY(2px);
  background: #d97d57;
}

body.open-cv-modal .cv-modal-content {
  opacity: 1;
  transform: translateY(0);
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  z-index: 9998;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.55s ease, visibility 0.55s ease;
}

body.open-cv-modal .blur-overlay {
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: linear-gradient(to bottom, #FFD1C7 25%, #FFE3C6 50%, #FFF7C7 75%, #D4F6D6 100%);
  border-radius: 18px;
}

::-webkit-scrollbar-thumb {
  background: #f38b65;
  width: 8px;
  border-radius: 18px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d8734a;
}

/* CV Modal */

.cv-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.cv-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cv-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.cv-card p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

.cv-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
}

.cv-actions button {
  background-color: #f38b65;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: 8px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.cv-actions button:hover {
  background-color: #d97d57;
}