@{
    ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Dashboard";

}

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>