<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="~/css/dashboard.css">
</head>

<body>
    <div class="blur-overlay"></div>

    <div class="sidebar">
        <a href="https://localhost:7247/Home" class="logo">
            <i class='bx bx-code-alt'></i>
            <div class="logo-name"><span>Colo</span>ssus</div>
        </a>
        <ul class="side-menu">
            <li class="link-2"><a href="#"><i class='bx bx-group'></i>About</a></li>
            <li class="link-3"><a href="#"><i class='bx bxs-contact'></i>Contacts</a></li>
            <li class="link-4" id="dashboard"><a href="https://localhost:7247/Home/Dashboard"><i class='bx bxs-dashboard'></i>Dashboard</a></li>
            <li class="link-1"><a href="https://localhost:7247/Home"><i class='bx bx-log-out-circle'></i>Logout</a></li>
        </ul>
    </div>

    <div class="content">
        <nav>
            <div class="iconM">
                <i class='bx bx-menu'></i>
            </div>
            <div class="iconL">
                <a href="#" class="logout">
                    <i class='bx bx-log-out-circle'></i>
                </a>
                <a href="#" class="profile">
                    <img src="~/img/logo.png" alt="Profile Image">
                </a>
            </div>
        </nav>

        <main>
            <div class="header">
                <div class="left">
                    <h1>Dashboard</h1>
                </div>
                <button class="create-cv">Create CV</button>
            </div>

            <div class="cv-list"></div>
        </main>
    </div>

    <div id="cv-modal-container">
        <div class="cv-modal-content">
            <div class="cv-modal-header">
                <div class="cv-modal-title">
                    <h1>Create CV</h1>
                </div>
                <div class="cv-modal-close">
                    <span id="close-cv-modal">
                        <i class='bx bx-x-circle'></i>
                    </span>
                </div>
            </div>
            <section>
                <form id="cv-form">
                    <fieldset>
                        <legend>CV Name</legend>
                        <label for="cvname">Enter CV name</label>
                        <input type="text" id="cvname" name="cvname">
                    </fieldset>
                    <fieldset>
                        <legend>Personal Information</legend>
                        <label for="fullname">Full Name</label>
                        <input type="text" id="fullname" name="fullname">

                        <label for="email">Email</label>
                        <input type="email" id="email" name="email">

                        <label for="gender">Gender</label>
                        <input type="text" id="gender" name="gender">

                        <label for="age">Age</label>
                        <input type="number" id="age" name="age">

                        <label for="phone">Phone</label>
                        <input type="tel" id="phone" name="phone">

                        <label for="address">Address</label>
                        <input type="text" id="address" name="address">
                    </fieldset>

                    <fieldset>
                        <legend>Work Experience</legend>

                        <div>
                            <label for="job-title">Job Title</label>
                            <input type="text" id="job-title" name="job-title">

                            <label for="company">Company</label>
                            <input type="text" id="company" name="company">

                            <label for="start-date">Start Date</label>
                            <input type="date" id="start-date" name="start-date">

                            <label for="end-date">End Date</label>
                            <input type="date" id="end-date" name="end-date">
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Education</legend>

                        <div>
                            <label for="degree">Degree</label>
                            <input type="text" id="degree-1" name="degree">

                            <label for="university">University</label>
                            <input type="text" id="university" name="university">

                            <label for="graduation-year">Graduation Year</label>
                            <input type="number" id="graduation-year" name="graduation-year">
                        </div>
                    </fieldset>

                    <button id="save-cv-btn" type="submit">Save</button>
                </form>
            </section>
        </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="~/js/modalCV.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/sr.js"></script>
</body>

</html>